<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong!</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong</h1>
        <ul>
            {% for return in returns %}
                <li>{{ return }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
